
@{
    ViewBag.Title = "Result";
}

<h2>Результат операции:</h2>
<p>
    Первое число: @Session["FstNumber"]<br />
    Второе число: @Session["SndNumber"]<br />
    Операция: @Session["Operation"]<br />
    Результат: @Session["Result"]<br />
</p>